<!-- 1_reset_password_form.html -->
{% extends 'pages/base4.html' %}
{% load static %}

{% block title %}استرجاع كلمة المرور{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/1_reset_password_form.css' %}" />
{% endblock %}

{% block content %}
  <div class="container" dir="rtl">
    <div class="card">
      <h2>استرجاع كلمة المرور</h2>
      <p class="subtitle">أدخل بريدك الإلكتروني لاسترجاع كلمة المرور </p>
      <!-- النموذج -->
      <form method="POST" action="{% url 'reset_password1' %}">
        {% csrf_token %}
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input type="email" name="email" placeholder="  البريد الإلكتروني" required />
        </div>
        <button type="submit" class="recover-btn">استرجاع</button>
      </form>
    </div>
    <a href="{% url 'login' %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>

  </div>
{% endblock %}
