<!-- 3_reset_password_reset_password.html -->

{% extends 'pages/base4.html' %}
{% load static %}

{% block title %}إعادة تعيين كلمة المرور{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/3_reset_password_reset_password.css' %}?v=2" />
{% endblock %}

{% block content %}
  <div class="card" dir="rtl">

    <h2>إعادة تعيين كلمة المرور</h2>
    <p class="subtitle">يرجى إدخال كلمة المرور الجديدة الخاصة بك</p>

    <!-- عرض رسائل الخطأ -->
    {% if messages %}
       <ul class="messages">
          {% for message in messages %}
              {% if message.tags == 'error' or message.tags == 'success' %}
                 <li class="{{ message.tags }}">{{ message }}</li>
              {% endif %}
          {% endfor %}
       </ul>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <div class="input-box">
        <i class="fas fa-lock icon"></i>
        <input type="password" name="new_password" placeholder="كلمة المرور" required autocomplete="new-password">
      </div>

      <div class="requirements">
        <b class="subtitle"> يجب أن تحتوي كلمة المرور على: </b>
        <ul>
          <li>6 أحرف على الأقل</li>
          <li>رقم واحد على الأقل</li>
        </ul>
      </div>

      <button class="done-btn" type="submit">تم</button>
    </form>
  </div>
{% endblock %}

