{% extends 'pages/base4.html' %}
{% load static %}

{% block title %}تأكيد إعادة تعيين كلمة المرور{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/4_reset_password_confirmation.css' %}" />
{% endblock %}

{% block content %}
  <div class="container" dir="rtl">
    <div class="card">
      <h1>تمت إعادة تعيين كلمة المرور بنجاح</h1>
      <p class="subtitle">يمكنك الآن تسجيل الدخول باستخدام كلمة المرور الجديدة.</p>

      <!-- زر للذهاب إلى صفحة تسجيل الدخول -->
      <a href="{% url 'login' %}" class="btn primary">الانتقال إلى لوحة التحكم</a>



    <!-- سهم الرجوع إلى صفحة تسجيل الدخول -->
  </div>
{% endblock %}
