<!-- base7.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}تأكيد المستخدم{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/check_request.css'%}?v=2">
  {% block extra_head %}{% endblock %}
</head>
<body dir="rtl">
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
