/* 3_reset_password_reset_password.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1e7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  direction: rtl; /* Passage en RTL */
}


.card {
  background-color: white;
  padding: 2.5rem;
  border-radius: 30px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  direction: rtl;
}

.card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.subtitle {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.input-box {
  position: relative;
  margin-bottom: 1rem;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 12px; /* inversé pour RTL */
  transform: translateY(-50%);
  color: #555;
}

.input-box input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* padding inversé */
  border-radius: 10px;
  border: none;
  background-color: #e7e6e4;
  font-size: 0.95rem;
  direction: ltr; /* pour la saisie du mot de passe en LTR */
  text-align: right;
}

.requirements {
  text-align: right; /* aligné à droite pour RTL */
  font-size: 0.85rem;
  margin: 1rem 0;
}

.requirements label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  direction: rtl;          /* pour RTL */
  justify-content: flex-end; /* pousse le contenu à droite */
  width: 100%;             /* fait prendre toute la largeur disponible */
  text-align: right;       /* texte aligné à droite */
}

.requirements ul {
  list-style-type: disc;
  margin-left: auto;   /* pousse la liste vers la droite */
  margin-right: 0;
  color: #444;
  padding-right: 17px; /* pour que la puce soit bien collée à droite */
  width: fit-content; /* pour que la liste prenne la taille de son contenu */
  text-align: right;  /* texte aligné à droite */
}

.done-btn {
  background-color: #a86d8f;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.7rem;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.done-btn:hover {
  background-color: #965a7c;
}
